GEMINI_API_KEY=VOTRE_CLE_ICI
YOUTUBE_API_KEY=VOTRE_CLE_ICI
HA_URL=http://homeassistant.local:8123
HA_TOKEN=VOTRE_TOKEN_ICI
XAI_API_KEY=VOTRE_CLE_ICI
SERPAPI_API_KEY=VOTRE_CLE_ICI
GROQ_API_KEY=VOTRE_CLE_ICI

CREATOR_NAME=Floriace
CREATOR_GITHUB=flori92
CREATOR_TIMEZONE=Europe/Paris
